<div class="container">
  <div
    class="list-group"
    *ngFor="let leader of leaderboard; let odd = odd; let i = index"
  >
    <a
      [ngClass]="{ 'bg-light': odd }"
      routerLink="/profile/{{ leader.username }}"
      class="list-group-item list-group-item-action d-flex align-items-center"
    >
      <i *ngIf="i === 0" class="fas fa-trophy fa-2x color-gold"></i>
      <i *ngIf="i === 1" class="fas fa-medal fa-2x color-silver"></i>
      <i *ngIf="i === 2" class="fas fa-award fa-2x color-bronze"></i>
      <div *ngIf="i <= 2">
        <strong>&nbsp; {{ leader.username }} - {{ leader.score }}</strong>
      </div>
      <div *ngIf="i > 2">{{ leader.username }} - {{ leader.score }}</div>
    </a>
  </div>
</div>
