<div class="container mx-auto">
  <h2 class="text-center">
    Stats for <span class="text-primary">{{ kyu }} kyu</span>
  </h2>
  <div class="col-sm-12" *ngFor="let kata of katas">
    <div class="row">
      <div class="col-md-3">
        <button
          class="btn btn-outline-primary btn-sm"
          (click)="kata.expand = !kata.expand"
        >
          <i class="fas fa-prescription"> </i> Solution
          <i
            class="fas"
            [ngClass]="
              kata.expand ? 'fa-angle-double-up' : 'fa-angle-double-down'
            "
          >
          </i>
        </button>
      </div>
      <p class="lead col-md-3">{{ kata.title }}</p>
      <p class="lead col-md-3">{{ kata.resolved }}</p>
      <p class="lead col-md-3">{{ kata.date | date }}</p>
    </div>
    <div *ngIf="kata.expand">
      <ngx-monaco-editor
        class="w-100 mt-3 position-relative"
        style="height: 200px; top:0;"
        [options]="editorOptions"
        [(ngModel)]="kata.code"
      ></ngx-monaco-editor>
      <div class="w-100 mt-1">
        <button
          routerLink="/edit/{{ kata.id }}"
          class="btn btn-outline-light btn-sm mr-3"
        >
          Edit
        </button>
        <button class="btn btn-outline-primary btn-sm">Save</button>
      </div>
    </div>
  </div>
</div>
