<div *ngIf="rightAnswer === false" class="alert alert-danger">
  <strong>Wrong answer!...</strong> Better luck next try!
</div>
<div *ngIf="rightAnswer" class="alert alert-success">
  <strong>Congratulation!...</strong> Take your time to refactor your code!
</div>
<div class="row h-100">
  <div class="col-sm-6">
    <h3 class="text-primary text-center">{{ kata.title | titlecase }}</h3>
    <p [innerHTML]="description"></p>
    <p [innerHTML]="tests"></p>
  </div>
  <div class="col-sm-6">
    <ngx-monaco-editor
      class="w-100 position-relative"
      style="height: 400px; top:0"
      [options]="editorOptions"
      [(ngModel)]="code"
    ></ngx-monaco-editor>
    <form [formGroup]="form" class="mt-2">
      <input
        placeholder="Answer"
        type="text"
        formControlName="answer"
        appFormControlValidator
        validationMsgId=""
        class="form-control"
      />
      <button class="btn btn-outline-primary my-3" (click)="sendAnswer()">
        Save
      </button>
    </form>
  </div>
</div>
