<div *ngIf="review">
  <ngx-monaco-editor
    class="w-100 mt-3 position-relative"
    style="height: 400px; top:0;"
    [options]="editorOptions"
    [(ngModel)]="review.code"
  ></ngx-monaco-editor>
  <div class="row">
    <div
      *ngFor="let i of [0, 1, 2, 3, 4]; let last = last"
      style="min-width:120px;"
      class="text-center col-sm-2 d-flex flex-column flex-nowrap justify-content-end"
    >
      <span class="lead">{{ getTitle(i) }}</span>
      <app-stars
        [num]="5"
        (selected)="printMsg($event, getTitle(i))"
      ></app-stars>
    </div>
  </div>
  <button class="btn btn-outline-primary btn-sm mt-1">Confirm</button>
</div>
