<ng-sidebar-container>
  <ng-sidebar
    [(opened)]="opened"
    [dock]="true"
    [mode]="1"
    [sidebarClass]="'bg-dark sidebar-size px-2 overflow-inherit'"
  >
    <button *ngIf="!loggedIn" class="mt-2 btn btn-outline-light btn-block">
      <i class="fas fa-sign-in-alt"></i> Login/Signup
    </button>
    <button
      routerLink="profile"
      *ngIf="loggedIn"
      class="mt-2 btn btn-outline-primary btn-block"
    >
      <i class="far fa-id-badge"></i> Profile
    </button>
    <div class="pt-5"></div>

    <button
      class="btn btn-outline-primary btn-block"
      placement="right"
      [ngbPopover]="showKataCat"
    >
      <i class="fas fa-server"></i> Katas
    </button>
    <button class="btn btn-outline-primary btn-block mt-2">
      <i class="far fa-eye"></i> Solutions
    </button>
    <button routerLink="leaderboard" class="btn btn-outline-primary btn-block">
      <i class="fas fa-chess-king"></i> Leaderboard
    </button>

    <div *ngIf="admin">
      <div class="pt-5"></div>
      <button
        class="btn btn-outline-info btn-block"
        placement="right"
        [ngbPopover]="admin"
      >
        <i class="fas fa-atom"></i> Admin Panel
      </button>
    </div>

    <div *ngIf="loggedIn">
      <div class="pt-5"></div>
      <button (click)="logout()" class="btn btn-outline-light btn-block">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>
    <nav
      class="bg-dark d-flex justify-content-left align-items-center py-2"
      [ngClass]="{ 'pl-3': opened }"
    >
      <div class="d-flex">
        <button class="btn btn-outline-primary" (click)="toggleSidebar()">
          <i class="fas" [ngClass]="!opened ? 'fa-bars' : 'fa-times'"></i>
        </button>
        <div>&nbsp;</div>
        <h3 class="d-inline-block m-0">CodeWars</h3>
      </div>
    </nav>
  </div>
</ng-sidebar-container>

<ng-template #showKataCat>
  <div
    class="list-group"
    *ngFor="let i of [7, 6, 5, 4, 3, 2, 1]; let odd = odd"
  >
    <a
      [ngClass]="{ 'bg-light': odd }"
      routerLink="/kata/{{ i }}"
      class="list-group-item list-group-item-action d-flex align-items-center py-1 px-3"
      >{{ i }} Kyu
    </a>
  </div>
</ng-template>

<ng-template #admin>
  <a
    routerLink="/admin/create"
    class="list-group-item list-group-item-action d-flex align-items-center py-1 px-3"
    >Create
  </a>
  <a
    routerLink="/admin/edit"
    class="bg-light list-group-item list-group-item-action d-flex align-items-center py-1 px-3"
    >Edit
  </a>
</ng-template>
